{% extends "BasicTemplate.twig" %}

{% block obsah %}

    <div class="container text-center">
        <form method="POST">
            <fieldset>
                <input type="text" name="login" placeholder="-- zadejte login nebo email --" required>
                <br>
                <input type="password" name="pass" placeholder="-- zadejte heslo --" required>
            </fieldset>
            <br>
            <button type="submit" name="action" value="login">
                Přihlásit uživatele
            </button>
        </form>
    </div>

{% endblock obsah %}