{% extends "BasicTemplate.twig" %}

{% block obsah %}

    {% if user.logged %}
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-lg-6">
                    <p><b>Login</b>: {{ user.login }} <br>
                    <b>Email</b>: {{ user.email }} <br>
                    <b>Role</b>:
                        {% if user.rights == 1 %} Autor
                        {% elseif user.rights == 3 %} Recenzent
                        {% elseif user.rights == 5 %} Admin
                        {% elseif user.rights == 10 %} SuperAdmin
                        {% endif %}</p><br>
                </div>
                <div class="col-sm-4 col-lg-6">
                    <img id="profile_pic" src=
                    {% if user.picture is defined and user.picture is not null %}
                    {{ user.picture }}
                    {% else %}
                    "uploads/avatar/default_avatar.png"
                    {% endif %}
                     alt="Not found" style="width:100%;max-width: 200px" class="rounded-pill"> <br>
                </div>
            </div>
            <br><p><a class="btn btn-dark bg-gradient" href="index.php?page=zmena">Změnit údaje</a></p>
        </div>
    {% else %}
        <div class="container text-center">
            <p>Nejste přihlášen!</p>
        </div>
    {% endif %}

{% endblock obsah %}