{% extends "BasicTemplate.twig" %}

{% block obsah %}

    {% if user.logged %}
        <div class="container text-center">
            <p>Jste přihlášen jako <b>{{ user.login | raw }}</b></p>
        </div>
    {% else %}
        <form method="POST">
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="form-group">
                        <label>Zadejte login:</label>
                        <input class="form-control bg-dark text-white" type="text" name="login" placeholder="-- zadejte login --" required>
                    </div><br>
                    <div class="form-group">
                        <label>Zadejte e-mail::</label>
                        <input class="form-control bg-dark text-white" type="email" name="email" placeholder="-- zadejte login --" required>
                    </div><br>
                    <div class="form-group">
                        <label>Zadejte heslo:</label>
                        <input id="pass1" class="form-control bg-dark text-white" type="password" name="pass" placeholder="-- heslo --" required>
                        <input type="checkbox" onclick="showPass('pass1')"> Ukaž heslo
                    </div><br>
                    <div class="form-group">
                        <label>Zadejte heslo znovu:</label>
                        <input id="pass2" class="form-control bg-dark text-white" type="password" name="passagain" placeholder="-- heslo znovu --" required>
                        <input type="checkbox" onclick="showPass('pass2')"> Ukaž heslo
                    </div><br>
                    <div class="text-center">
                        <button class="btn-dark btn-lg bg-gradient" type="submit" name="action" value="register">Zaregistrovat se</button>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}

    <script>
        function showPass(id) {
            var pass = document.getElementById(id);
            if (pass.type === "password") {
                pass.type = "text";
            } else {
                pass.type = "password";
            }
        }
    </script>

{% endblock obsah %}