{% extends "BasicTemplate.twig" %}

{% block obsah %}

    {% if user.logged %}
        <h3>{{ obsah | raw }} {{ user.login | raw }}!</h3>
    {% else %}
        <h3> Prosím přihlaš se vpravo nahoře!</h3>
    {% endif %}

{% endblock obsah %}